DCAE_VGG/data4000-4.h5 filter=lfs diff=lfs merge=lfs -text
spectralnet4k/src/applications/data4000-4.h5 filter=lfs diff=lfs merge=lfs -text
spectralnet4k/src/pretrain_weights/aeVGG16inout4096_data4000-4_weights.h5 filter=lfs diff=lfs merge=lfs -text
